:root {
    --primary-color: #264653;
    --secondary-color: #2A9D8F;
    --accent1-color: #E9C46A;
    --accent2-color: #F4A261;
    --black-colour: #000;
    --white-colour: #FFF;
    --page-max-width: 1920px;
    --alt-max-width: 1024px;
    --inner-padding: 10px;
    --large-border-radius: 20px;
    --header-font: 'Montserrat', sans-serif;
    --anchor-no-deco: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Questrial', sans-serif;
    display: grid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: var(--primary-color);
}

p {
    padding: var(--inner-padding) 0;
}

header {
    display: grid;
    max-width: var(--alt-max-width);
    grid-template-columns: 100px 2fr 2fr;
    align-items: center;
    justify-self: center;
}

header div {
    padding: 0 20px;
    width: 100%;
}

header div img {
    width: 100%;
    height: auto;
}

header nav {
    justify-self: end;
    grid-column: 3;
    display: flex;
    justify-content: space-around;
}

header nav a {
    margin: 20px;
    font-family: var(--header-font);
    font-weight: 700;
    text-decoration: var(--anchor-no-deco);
    color: var(--primary-color);
}

main {
    max-width: var(--page-max-width);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 60px;
}

.hero {
    position: relative;
    grid-column: span 8;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    background-color: var(--secondary-color);
    width: 80%;
    padding: var(--inner-padding);
    top: 50px;
    left: 10%;
    right: 10%;
    font-weight: 500;
    margin: auto;
    text-align: center;
    border-radius: var(--large-border-radius);
    max-width: var(--alt-max-width);
}

.hero article {
    position: absolute;
    bottom: 35%;
    left: 15%;
    right: 15%;
    width: 70%;
    max-width: var(--alt-max-width);
    margin: auto;
    border: solid medium var(--secondary-color);
    border-radius: calc(var(--large-border-radius) + 80px);
    backdrop-filter: blur(3px);
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}

.hero article p {
    color: var(--white-colour);
    font-size: 1.2rem;
    padding: var(--inner-padding);
}

.hero article img {
    float: right;
    width: 150px;
    object-fit: cover;
    height: auto;
    border-radius: calc(var(--large-border-radius) + 80px);
}

main section {
    grid-column: 2 / span 6;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

main section h2 {
    text-align: center;
    grid-column: span 5;
}

main section p {
    grid-column: span 2;
}

main section img {
    border-radius: var(--large-border-radius);
    width: 100%;
    height: auto;
}

main section figcaption {
    text-align: center;
}

main section div {
    justify-self: center;
}

main section div div {
    width: 200px;
    margin: auto;
}

footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: var(--primary-color);
    margin-top: 60px;
    padding: var(--inner-padding);
    color: var(--white-colour);
}

footer p {
    grid-column: 4 / span 2;
    text-align: center;
}

.sociallinks {
    grid-column: 7 / span 1;
    justify-self: end;
}

.sociallinks a {
    text-decoration: var(--anchor-no-deco);
    display: inline-block;
    width: 40px;
    height: auto;
}

.sociallinks img {
    width: 100%;
    height: auto;
}
