:root {
    --dark-blue-clour: darkblue;
    --black-colour: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--dark-blue-clour);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--dark-blue-clour);
    padding: 10px;
}

main img {
    width: 150px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 5%;
    right: 5%;
    margin: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--black-colour);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #ddd;
    color: var(--black-colour);
}